* {
    background-color: black;
    box-sizing: border-box;
}

/*PARTIE HEADER*/

h1 {
    color: #d4af37;
}

.nav-barre-home-page {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 2px solid #d4af37;
}



.nav-barre-home-page li {
    color: white;
    display: inline;
    text-align: right;
    padding: 0%;
    /*padding 0% + margin 0% + list style none : permet de supprimer les puces*/
    margin-left: 20px;
    list-style: none;
}


.register {
    border: 2px solid #d4af37;
}

/*FIN HEADER*/

/*PARTIE MAIN*/

.container-contact {
    background-color: rgb(6, 6, 48);
    width: 30em;
    padding: 10px;
    border-radius: 2%;
    border: 1px solid grey;
    margin-left: 38%;
    margin-right: 33%;
    margin-top: 60px;
    margin-bottom: 60px;
    color: gray;
}

.container-contact label {
    background-color: rgb(6, 6, 48);
    color: white;
    flex-direction: column;
}

.container-contact input {
    width: 100%;
    padding: 10px;
    margin: 20px 0 20px;
    border: 1px solid gray;
    color: white;
    background-color: rgb(6, 6, 48);
    border-radius: 2%;
    border-radius: 5px;
}

.nom,
.email,
.sujet {
    background-color: transparent;
}

.option-sujet {
    width: 100%;
    background-color: rgb(6, 6, 48);
    padding: 10px;
    border-radius: 2%;
    border: 1px solid gray;
    color: white;
}

.title-form-contact {
    color: #d4af37;
    text-align: center;
}

.button-container-one {
    background-color: #d4af37;
    border-radius: 2%;
    width: 100%;
}

.P {
    color: gray;
    text-align: center;
}

.submit {
    background-color: #e94560;
    border: 2px solid #e94560;
    border-radius: 2%;
    padding: 10px;
    width: 100%;
}

.container-email {
    text-align: center;
    border: 2px solid gray;
    border-radius: 2%;
    background-color: rgb(6, 6, 48);
    margin-bottom: 30px;
    width: 30em;
    padding: 10px;
    margin-left: 38%;
    margin-right: 33%;
    margin-top: 60px;
    margin-bottom: 60px;
}

p {
    text-align: center;
    color: white;
    background-color: transparent;
}

.img-email {
    border: 2px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid gold;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.title-email {
    color: #d4af37;
    text-align: center;
    background-color: transparent;
}

.container-social-media {
    border: 2px solid gray;
    border-radius: 2%;
    background-color: rgb(6, 6, 48);
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid gray;
    border-radius: 2%;
    background-color: rgb(6, 6, 48);
    width: 30em;
    padding: 10px;
    margin-left: 38%;
    margin-right: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}

.img-inteface-reseaux {
    border: 2px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.title-reseaux-sociaux {
    color: #d4af37;
    text-align: center;
    background-color: transparent;
}

.redirection-reseaux-sociaux {
    width: 0;
    height: 10%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.container-feedback {
    text-align: center;
    border: 2px solid gray;
    border-radius: 2%;
    background-color: rgb(6, 6, 48);
    margin-bottom: 30px;
    width: 30em;
    padding: 10px;
    margin-left: 38%;
    margin-right: 33%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img-feedback {
    border: 2px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #d4af37;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.title-feedback {
    color: #d4af37;
    text-align: center;
    background-color: transparent;
}




/*FIN MAIN*/

/*PARTIE FOOTER*/

.footer-film-strip {
    box-sizing: border-box;
    height: 30px;
    /*hauteur de la ligne*/
    background-color: #d4af37;
    width: 100%;
    /*prend 100% de la largeur*/

    display: flex;
    /*sert à conternir les carrer noir à l'intérieur de la barre jaune*/
    justify-content: center;
    align-items: center;
}

.barre {
    width: 100%;
    height: 14px;
    background: repeating-linear-gradient(
            /*sert à répéter les couleur des carrer noir*/
            90deg,
            #000 0 16px,
            #d4b000 4px 20px);
}


nav ul li {
    display: inline;
    /* Affiche les éléments sur une seule ligne */
    margin-right: 20px;
    /* Espacement entre les liens */
}

nav ul li a {
    text-decoration: none;
    /* Supprime le soulignement */
    color: white;
}

nav ul li a:hover {
    color: white;
    /* Couleur au survol */
}

.nav-barre-from-the-bottom {
    color: white;
}

.footer {
    padding: 40px;
    text-align: center;
    color: white;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border: 2px solid gold;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.news {
    color: white;
    text-align: center;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 16px;
    width: 260px;
    border: 2px solid #d4af37;
    background: transparent;
    color: white;
    outline: none;
}

.mention-légal {
    margin-top: 30px;
    color: white;
    text-align: center;
    gap: 20px;
    border-top: 1px solid #d4af37;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*FIN FOOTER*/