* {
    background-color: black;
    box-sizing: border-box;
}

/*PARTIE HEADER*/

h1 {
    color: #d4af37;
}

.nav-barre-home-page {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 2px solid #d4af37;
}

.nav-barre-home-page li {
    color: white;
    display: inline-flex;
    text-align: right;
    padding: 0%;
    /*padding 0% + margin 0% + list style none : permet de supprimer les puces*/
    margin-left: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.register {
    border: 2px solid #d4af37;
    border-radius: 2px;
}

/*FIN HEADER*/

/*PARTIE MAIN*/
.container-register {
    background-color: rgb(6, 6, 48);
    width: 30em;
    padding: 10px;
    border-radius: 2%;
    margin-left: 38%;
    margin-right: 33%;
    border: 1px solid grey;
    margin-bottom: 60px;
    margin-top: 60px;
}

.title-register {
    background-color: rgb(6, 6, 48);
    color: white;
    text-align: center;
}

.container-register label {
    color: #aaa;
    background-color: rgb(6, 6, 48);
}


.container-register input {
    width: 100%;
    padding: 10px;
    margin: 20px 0 20px;
    border: 1px solid grey;
    border-radius: 2%;
    border-radius: 5px;
    background-color: rgb(12, 12, 78);
    color: white;
}

.form_register label {
    text-align: center;
    flex-direction: column;
}

.button_form_register {
    flex-direction: column;
    display: flexbox;
    background-color: #e94560;
    border: #d4af37;
    width: 100%;
}

button {
    padding: 10px;
    background: #d4af37;
    border: none;
    cursor: pointer;
    /* curseur main */
}

.home-page {
    border-bottom: 6px solid #d4af37;
}

.submit {
    color: #e94560;
}

p {
    color: #aaa;
    text-align: center;
    font-size: 13px;
}

/*FIN MAIN*/

/*PARTIE FOOTER*/

.footer-film-strip {
    box-sizing: border-box;
    height: 30px;
    /*hauteur de la ligne*/
    background-color: #d4af37;
    width: 100%;
    /*prend 100% de la largeur*/

    display: flex;
    /*sert à conternir les carrer noir à l'intérieur de la barre jaune*/
    justify-content: center;
    align-items: center;
}

.barre {
    width: 100%;
    height: 14px;
    background: repeating-linear-gradient(
            /*sert à répéter les couleur des carrer noir*/
            90deg,
            #000 0 16px,
            #d4b000 4px 20px);
}


nav ul li {
    display: inline;
    /* Affiche les éléments sur une seule ligne */
    margin-right: 20px;
    /* Espacement entre les liens */
}

nav ul li a {
    text-decoration: none;
    /* Supprime le soulignement */
    color: white;
}

nav ul li a:hover {
    color: white;
    /* Couleur au survol */
}

.nav-barre-from-the-bottom {
    color: white;
}

.footer {
    padding: 40px;
    text-align: center;
    color: white;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border: 2px solid gold;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.news {
    color: white;
    text-align: center;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 16px;
    width: 260px;
    border: 2px solid #d4af37;
    background: transparent;
    color: white;
    outline: none;

}

.mention-légal {
    margin-top: 30px;
    color: white;
    text-align: center;
    gap: 20px;
    border-top: 1px solid #d4af37;
    width: 100%;
    padding-top: 30px;
}

/*FIN FOOOTER*/