body {
    font-family: sans-serif;
    background-color: #fff3db;
}

h1 {
    background-color: #f02425;
    color: white;
    text-align: center;
}

img {
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;
}

h2 {
    color: #f02425;
    text-align: center;
}

h3 {
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
}

.astuce {
    background-color: #f09124;
}

a {
    color: rgb(0, 140, 255);
    text-decoration: underline;
}