/*PARTIE PAGE ENTIERE*/

* {
    background-color: black;
    box-sizing: border-box;
}

/*FIN PAGE ENTIERE*/

/*PARTIE HEADER*/

h1,
h2,
h3 {
    color: #d4af37;
}

.header-film-strip {
    box-sizing: border-box;
    height: 30px;
    background-color: #d4af37;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.barre {
    width: 100em;
    height: 14px;
    background: repeating-linear-gradient(90deg,
            #000 0 16px,
            #d4af37 4px 20px);
}

.nav-barre-home-page {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 2px solid #d4af37;
}

.nav-barre-home-page li {
    color: white;
    display: inline-flex;
    text-align: right;
    padding: 0%;
    /*padding 0% + margin 0% + list style none : permet de supprimer les puces*/
    margin-left: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.container-img {
    border: 2px solid transparent;
    width: 100%;
    height: 300px;
}

.container-img-intro {
    border: 2px solid transparent;
    width: 100%;
    height: 300px;
}

.container {
    width: 100%;
    border: 1px solid transparent;
    padding: 00px 0px 20px 0px;
}

p {
    color: white;
}

.button-form-intro {
    background-color: #e94560;
    padding: 10px;
    border: none;
    border: 1px solid #d4af37;
    border-radius: 8px;
    display: block;
    margin: 40px auto;
}


/*FIN HEADER*/

/*PARTIE MAIN*/

.main-film-strip {
    box-sizing: border-box;
    height: 30px;
    background-color: #d4af37;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.barre {
    width: 100em;
    height: 14px;
    background: repeating-linear-gradient(90deg,
            #000 0 16px,
            #d4af37 4px 20px);
}

h2,
h3 {
    text-align: center;
    font-weight: bold;
}

.articles-home-page {
    display: flex;
    /* met tous les articles sur la même ligne */
    justify-content: center;
    /* centre les articles horizontalement */
    flex-wrap: wrap;
    /* passe à la ligne si écran trop petit */
    gap: 20px;
    /* espace entre les articles */
    width: 100%;
    padding: 20px;
}

.container-ratatouille,
.container-bourguignon,
.container-poulet,
.container-cannoli {
    border: 1px solid #d4af37;
    background-color: rgb(6, 6, 48);
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    width: 300px;
    margin: 0;
}

.img-ratatouille,
.img-cannoli,
.img-bourguignon,
.img-poulet {
    text-align: center;
    display: block;
    margin: 0;
    max-width: 100%;
    border-radius: 8px;
    background-color: rgb(6, 6, 48);
    padding: 20px;
    border: 1px solid #d4af37;
}

.submit {
    background-color: #e94560;
    padding: 10px;
    border: none;
    border: 1px solid #d4af37;
    border-radius: 8px;
}

p {
    text-align: center;
    color: white;
}


/*FIN MAIN*/

/*PARTIE FOOTER*/

.footer-film-strip {
    box-sizing: border-box;
    height: 30px;
    /*hauteur de la ligne*/
    background-color: #d4af37;
    width: 100%;
    /*prend 100% de la largeur*/

    display: flex;
    /*sert à conternir les carrer noir à l'intérieur de la barre jaune*/
    justify-content: center;
    align-items: center;
}

.barre {
    width: 100%;
    height: 14px;
    background: repeating-linear-gradient(
            /*sert à répéter les couleur des carrer noir*/
            90deg,
            #000 0 16px,
            #d4b000 4px 20px);
}

nav ul li {
    display: inline;
    /* Affiche les éléments sur une seule ligne */
    margin-right: 20px;
    /* Espacement entre les liens */
}

nav ul li a {
    text-decoration: none;
    /* Supprime le soulignement */
    color: white;
}

.nav-barre-from-the-bottom {
    color: white;
    text-align: center;
}

.footer {
    padding: 40px;
    text-align: center;
    color: white;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border: 2px solid gold;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.news {
    color: white;
    text-align: center;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 16px;
    width: 260px;
    border: 2px solid #d4af37;
    background: transparent;
    color: white;
    outline: none;
}

.newsletter-submit {
    background-color: #d4af37;
    padding: 18px;
    border-top: 2px solid #d4af37;
    border: none;
    color: black;
    font-weight: bold;
}

.mention-légal {
    color: white;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #d4af37;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

}

/*FIN FOOOTER*/